/* ul > li{
    list-style-type: none;
} */
.ul{
    list-style-type:none;
    display: flex;
    text-align: center;
    justify-content: space-between;
}
@media screen and (max-width: 900px) {
    ul {
      flex-wrap: wrap;
      flex-direction: column;
      
      justify-content: center;
      align-items: center;
    }
    .li {
        padding: 10px;
    }
  }